@model Models.Vehicule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dbid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dbid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ename);
        </dd>
        @Html.Action("EngineDetails", new { name = Model.Ename })
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Dbid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
