@model Models.Engine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Engine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DbId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Displacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Displacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CylinderCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CylinderCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
